@font-face {
  font-family: "Regular";
  src: url('./RobotoCondensed-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Italic";
  src: url('./RobotoCondensed-Italic.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Regular", serif;
}

input {
  border: none;
}

#container {
  width: 31vw;
  box-shadow: 0 5px 10px #a39d9c;
}

#todo-container {
  width: 31vw;
}

.row {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  border-top: solid 1px #f1f1f1;
  border-bottom: solid 1px #f1f1f1;
  padding: 5px;
}

.todo-input {
  border: none;
  width: 30vw;
}

.todo-input::placeholder {
  font-family: "Italic", serif;
}

.input-task {
  width: 25vw;
}

.todo-bottom {
  text-align: center;
  color: #a39d9c;
  background-color: #f0eae9;
  width: 31vw;
  border-style: hidden;
  border-top: solid 2px #f1f1f1;
  padding: 0.5em;
  font-size: 1em;
}
